/* body{
    margin:0px;
    height:100%;
} */

/* #main{
    border-style:solid;
    position:relative;
        
      
} */

/* .user{
    border-style:dotted;
    
} */
/* 
.text{
    border-style: dashed;
}

.icon{
    border-style:groove;
} */